﻿@model FA.JustBlog.Areas.Admin.Models.PostDto;

@{
    ViewData["Title"] = "Create post";
    var listCategory = ViewBag.Categories as IList<FA.JustBlog.Core.Models.Category>;
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.css">
}
<style>
    .create-post-form{
        width: 65%;
    }
</style>

<h2>Create post</h2>
<form class="create-post-form" asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UrlSlug" class="control-label"></label>
        <input asp-for="UrlSlug" class="form-control" />
        <span asp-validation-for="UrlSlug" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription" class="control-label"></label>
        <textarea id="editor" asp-for="ShortDescription" class="form-control"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostContent" class="control-label"></label>
        <input asp-for="PostContent" class="form-control" />
        <span asp-validation-for="PostContent" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Published" /> 
            @Html.DisplayNameFor(model => model.Published)
        </label>
    </div>
    <div class="form-group">
        <label asp-for="PostedOn" class="control-label"></label>
        <input asp-for="PostedOn" class="form-control" />
        <span asp-validation-for="PostedOn" class="text-danger"></span>
    </div>  
    <div class="form-group">
        <label class="control-label">Category</label>
        <select asp-for="CategoryId" id="category" class="form-control">
            @foreach(var cate in listCategory)
            {
                <option value="@cate.Id">@cate.Name</option>
            }    
        </select>
        <span class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.0/"
        }
    }
</script>

<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Paragraph,
        Bold,
        Italic,
        Font
    } from 'ckeditor5';
    ClassicEditor
        .create(document.querySelector('#editor'), {
            plugins: [Essentials, Paragraph, Bold, Italic, Font],
            toolbar: [
                'undo', 'redo', '|', 'bold', 'italic', '|',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
            ]
        })
        .then(editor => {
            window.editor = editor;

            // Bind CKEditor data to the form before submission
            document.querySelector('form').addEventListener('submit', () => {
                document.querySelector('#editor').value = editor.getData();
            });
        })
        .catch(error => {
            console.error(error);
        });
</script>
<!-- A friendly reminder to run on a server, remove this during the integration. -->
<script>
    window.onload = function () {
        if (window.location.protocol === 'file:') {
            alert('This sample requires an HTTP server. Please serve this file with a web server.');
        }
    };
</script>
