﻿@model FA.JustBlog.Core.Models.Post
@{
    ViewData["Title"] = "Admin - " + Model.Title;
}

<h1>Details</h1>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Short Description
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlSlug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlSlug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RateCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RateCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalRate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>


