﻿@using FA.JustBlog.Core.Models
@{
    ViewData["Title"] = "All Posts";
}
@model IList<Post>


    <!-- DataTales Example -->
<div class="card shadow mb-4" style="font-size: 55%;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Posts</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>ViewCount</th>
                            <th>Published</th>
                            <th width="15%">Posted On</th>
                            <th>Category</th>
                            <th>Rate</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model)
                        {
                            <tr>
                                <td>@post.Id</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">
                                        @post.Title
                                    </a>
                                </td>
                                <td>@post.ViewCount</td>
                                <td>@post.Published</td>
                                <td>@post.PostedOn</td>
                                <td>@post.Category.Name</td>
                                <td>@post.TotalRate.ToString("F1")</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = post.Id }, new { @class = "btn btn-sm btn-warning" })
                                    @Html.ActionLink("Details", "Details", new { id = post.Id }, new { @class = "btn btn-sm btn-info" })
                                    @Html.ActionLink("Delete", "Delete", new { id = post.Id }, new { @class = "btn btn-sm btn-danger" })
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

@section Scripts {
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}
