﻿@model IList<FA.JustBlog.Core.Models.Post>

@{
    ViewData["Title"] = "Published posts";
}

<div class="container-fluid">
    <h1>Published Posts</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-bordered" id="tbllist">
        <thead>
            <tr>
                <th>Id</th>
                <th width="15%">Title</th>
                <th width="18%">Short description</th>
                <th>View count</th>
                <th width="15%">Posted On</th>
                <th>Category</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ViewCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalRate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tbllist').DataTable({

        });
    })
</script>

