﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CKEditor 5 - Quick start CDN</title>
	<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.css">
	<style>
		.main-container {
			width: 795px;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>
<body>
	<div class="main-container">
		<div id="editor">
			<p>Hello from CKEditor 5!</p>
		</div>
	</div>
	<script type="importmap">
		{
			"imports": {
				"ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.js",
				"ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.0/"
			}
		}
	</script>
	<script type="module">
		import {
			ClassicEditor,
			Essentials,
			Paragraph,
			Bold,
			Italic,
			Font
		} from 'ckeditor5';
		ClassicEditor
			.create(document.querySelector('#editor'), {
				plugins: [Essentials, Paragraph, Bold, Italic, Font],
				toolbar: [
					'undo', 'redo', '|', 'bold', 'italic', '|',
					'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
				]
			})
			.then(editor => {
				window.editor = editor;
			})
			.catch(error => {
				console.error(error);
			});
	</script>
	<!-- A friendly reminder to run on a server, remove this during the integration. -->
	<script>
		window.onload = function () {
			if (window.location.protocol === 'file:') {
				alert('This sample requires an HTTP server. Please serve this file with a web server.');
			}
		};
	</script>
</body>
</html>
