﻿@{
    var mostViewed = TempData["mostViewedPosts"] as IList<FA.JustBlog.Core.Models.Post>;
    var lastestPost = TempData["lastestPosts"] as IList<FA.JustBlog.Core.Models.Post>;
}
<div class="row col-3">
    <div class="col-12">
        <h3>Most viewed posts</h3>
        @foreach (var p in mostViewed)
        {
            <div class="single-most-viewed">
                <span>
                    <a asp-controller="Post" asp-action="PostDetails" asp-route-id="@p.Id">@p.Title</a>
                </span>
            </div>
        }
    </div>
    <div class="col-12">
        <h3>Lastest posts</h3>
        @foreach (var p in lastestPost)
        {
            <div class="single-lastest">
                <span>
                    <a asp-controller="Post" asp-action="PostDetails" asp-route-id="@p.Id">@p.Title</a>
                </span>
            </div>
        }
    </div>
</div>

