﻿@model FA.JustBlog.Core.Models.Post
@* @{
    ViewData["Title"] = Model.Title;
} *@
<!-- Page Header-->
<header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Html.Raw(@Model.ShortDescription)</h2>
                    <span class="meta">
                        Posted on @Model.PostedOn
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    @Html.Raw(@Model.PostContent)
                </p>
            </div>
        </div>
    </div>
</article>
