﻿@using FA.JustBlog.ExtensionHelpers
@model IList<FA.JustBlog.Core.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .post-tag{
        background-color: black;
        padding: 5px 15px;
        color: white;
        margin-right: 10px
    }

    .post-tag a{
        color: white;
    }
</style>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <h2 class="post-title">
                        @Html.ActionLink(post.Title, "Details", "Post", new { year = post.PostedOn.Year, month = post.PostedOn.Month, urlslug = post.UrlSlug }, null)
                    </h2>
                    <h3 class="post-subtitle">@Html.Raw(@post.ShortDescription)</h3>
                    @Html.PostedTime(post)
                    <p class="post-meta"> Category: @Html.CategoryLink(post.Category.Name, post.Category.UrlSlug)</p>
                    <p class="post-meta"> 
                        Tags:
                        @foreach(var ptm in post.PostTagMaps)
                        {
                            <span class="post-tag">
                                @Html.TagLink(ptm.Tag.Name, ptm.Tag.UrlSlug)
                            </span>
                        }
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
        </div>
        <!-- post lists -->
        <div class="row col-3">
            @await Component.InvokeAsync("MostViewed")
            @await Component.InvokeAsync("LatestPosts")
        </div>
    </div>
    <!-- about card-->
    @Html.Partial("/Views/Home/_PartialAboutCard.cshtml")
</div>
