﻿@model IList<FA.JustBlog.Core.Models.Tag>
<div class="col-12">
    <h3>Most popular tags</h3>
    @foreach (var tag in Model)
    {
        <div class="single-most-viewed">
            <span>
                <a href="#">@tag.Name</a>
            </span>
        </div>
    }
</div>



