﻿<li class="nav-item">
    <form asp-action="Search" method="post">
        <div class="form-group">
            <input class="nav-link px-lg-2  py-lg-3" name="query" placeholder="Search blogs..." style="width=50%"/>
        </div>
    </form>
</li>

