﻿﻿@using FA.JustBlog.Core.Models
@model IList<Category>

@foreach (var cate in Model)
{
    <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 py-lg-4" asp-controller="Post" asp-action="Category" asp-route-category="@cate.Name.ToLower()">@cate.Name</a>
    </li>
}
