﻿@model IList<FA.JustBlog.Core.Models.Post>
<div class="col-12">
    <h3>Most viewed posts</h3>
    @foreach (var p in Model)
    {
        <div class="single-most-viewed">
            <span>
                @Html.ActionLink(p.Title, "Details", "Post", new { year = p.PostedOn.Year, month = p.PostedOn.Month, urlslug = p.UrlSlug }, null)
            </span>
        </div>
    }
</div>



